<div class="row">
	<div class="col-lg-5 offset-1">
		<h1>Answer page</h1>
	</div>
	<div class="col-lg-6 text-center">
		<h1><%= @lesson.words.size %> of <%= @category.words.size %></h1>
	</div>


	<div class="jumbotron col-lg-6 offset-3">
		
		<h1><%= @word.content %></h1>
		<% @word.choices.each do |choice| %>
			<%= form_for([:lesson, @answer]) do |a| %>
				<div class="form-group">
					<%= hidden_field_tag :word_id, @lesson.next_word.id %>
					<%= hidden_field_tag :choice_id, choice.id %>				
					<%= a.submit choice.content, class: "btn btn-brock" %>
				</div>
			<% end %>
		<% end %>
	</div>
</div>